<!------------------------------------------------------------------
	dashboard.html
    
	in pythonanywhere Bash console:
    git pull git@github.com:volkerpetersen/DjangoWebsites.git

	exceute on localhost using:
	python manage.py runserver
-------------------------------------------------------------------->

{% extends "toerns/header.html" %}
{% block title %}Trip Dashboard{% endblock %}

{% load static %}
{% load humanize %}
{% block content %}
    {{ destinationMiles|json_script:"destinationMiles" }}
    {{ destinationCount|json_script:"destinationCount" }}
    {{ destinationMiles|json_script:"destinationMiles" }}
    {{ annualMiles|json_script:"annualMiles" }}
    {{ annualDays|json_script:"annualDays" }}
    {{ skipperMiles|json_script:"skipperMiles" }}

    <!-- Start of main page body content-->
    <div id="content_container" class="container">
        <div id="content_row" class="row pt-1">
            <div id="destinationPieChart" class="col-12 col-sm-6 text-center plr-0">
                <h3 class="text-info">Running data analysis...</h3></div>
            <div class="col-12 d-block d-sm-none hr-rule"></div>
            <div id="annualMilesColumn" class="col-12 col-sm-6 text-center plr-0"></div>
        </div>
        <div id="content_row" class="row">
            <div class="col-12 d-block d-sm-none hr-rule"></div>
            <div id="skipperPieChart" class="col-12 col-sm-6 text-center plr-0"></div>
            <div class="col-12 d-block d-sm-none hr-rule"></div>
            <div id="bubbleMap" class="col-12 col-sm-6 center-block"></div>
        </div>
    </div>
    <!-- end of main page body content container -->

    <!--
    -------------------------------------------------------------------------------
        Modal Crew Table
    -------------------------------------------------------------------------------
    -->
    <div class="modal fade" id="modalCrewTable" tabindex="-1" role="dialog" aria-labelledby="modalCrewTable"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="text-error">Crew Listing</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row" id="crewTable">
                        <div class="table-responsive col-12">
                            <table id="crewStats" class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-start" scope="col">Crew</th>
                                        <th class="text-start" scope="col">Role</th>
                                        <th class="text-center" scope="col">Trips</th>
                                        <th class="text-center" scope="col">Miles</th>
                                        <th class="text-center" scope="col">Days</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for name, stats in crewStats %}
                                    <tr>
                                        <td>{{ name }}</td>
                                        <td>{{ stats.role }}</td>
                                        <td class="text-end">{{ stats.trips }}</td>
                                        <td class="text-end">{{ stats.miles|floatformat:0|intcomma }}</td>
                                        <td class="text-end">{{ stats.days }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class=" btn btn-info" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div><!-- /Modal Crew Table Listing-->
    
    <style>
        /* Hide Google Bubble Chart infoBubble close button */
        .gm-ui-hover-effect {
            display: none !important;
        }
    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type='text/javascript'>
        // convert Python dictionaries into Javascript. The Id elements are created on top of the template file.
        let destinationMilesDict = JSON.parse(document.getElementById('destinationMiles').textContent);
        let destinationCountDict = JSON.parse(document.getElementById('destinationCount').textContent);
        let skipperMilesDict = JSON.parse(document.getElementById('skipperMiles').textContent);
        let annualMilesDict = JSON.parse(document.getElementById('annualMiles').textContent);
        let annualDaysDict = JSON.parse(document.getElementById('annualDays').textContent);
        let elementHeight = 300;
        let currentPopup;
        let optionsBar, optionsCol, optionsPie, map;

        let geoArea = {
            'Atlantic': {
                'position': { 'lat': 39.0, 'lng': -43.0 },
                'miles': 0.1
            },
            'Baltic': {
                'position': { 'lat': 55.0, 'lng': 12.0 },
                'miles': 0.1
            },
            'Caribbean': {
                'position': { 'lat': 17.0, 'lng': -64.0 },
                'miles': 0.1
            },
            'Croatia': {
                'position': { 'lat': 44.5, 'lng': 14.0 },
                'miles': 0.1
            },
            'Great Lakes': {
                'position': { 'lat': 47.0, 'lng': -88.0 },
                'miles': 0.1
            },
            'Pacific': {
                'position': { 'lat': 28.0, 'lng': -140.0 },
                'miles': 0.1
            }
        };
                
        // process the data to be utilized in the chart and map plotting functions
        const titleStyle = {color: "#337ab7",
                    fontName: "Shadows Into Light Two",
                    fontSize: 24,
                    bold: false,
                    italic: true
                    }

        optionsPie = {title: "Miles Sailed by Geographic Area",
                    titleTextStyle: titleStyle,
                    width: '100%',
                    height: elementHeight,
                    is3D: true,
                    legend: { position: "right" },
                    chartArea: {left: 30, top:35, width: '85%', height: '85%'}
                };

        optionsBar = {title: "Miles Sailed with Skipper",
                    titleTextStyle: titleStyle,
                    width: '100%',
                    height: elementHeight,
                    chartArea: {left: 100, top:45, width: '70%', height: '75%'},
                    legend: { position: "none" }
                };

        optionsCol = {title: "Miles Sailed and Days at Sea",
                    titleTextStyle: titleStyle,
                    legend: { position: 'top', },
                    width: '100%',
                    height: elementHeight,
                    chartArea: {left: 50, top:45, width: '85%', height: '65%'},
                    hAxis: {
                        slantedText: true,
                        slantedTextAngle: 45 // here you can even use 180
                    },
                    vAxis: {
                        0: {logScale: false},
                        1: {logScale: false},
                    },
                    series: {
                        0: {type: 'bars', targetAxisIndex: 0},
                        1: {type: 'line', targetAxisIndex: 1, color: '#8A0808'}
                    }
                };

        // Load the Google Map to display the bubble Chart Map.
        function initMap() {
            var i, key, zoom, labelText;

            zoom = 2;
            if (isMobile) {
                zoom = 1;
            }
            map = new google.maps.Map(document.getElementById('bubbleMap'), {
                zoom: zoom,
                center: {lat: 45.0, lng: -55.0},
                mapTypeId: 'terrain'
            });

            currentPopup = null;
            for (key in geoArea) {
                // Add the circle for each GeoArea to the map.
                // https://developers.google.com/maps/documentation/javascript/examples/circle-simple
                if(key in destinationMilesDict) {
                    labelText = "<strong>" + key + "</strong><br />";
                    labelText += destinationCountDict[key] + " trips with <br />";
                    labelText += numberWithCommas(destinationMilesDict[key], 0)+"nm";
                    console.log(labelText+geoArea[key]['position']);
                    createInfoWindow(labelText, geoArea[key]['position'], destinationMilesDict[key] / sum_miles, map);
                }
            }
        }

        function createInfoWindow(infoText, position, miles, map) {
            var bubble = new google.maps.Circle({
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                map: map,
                center: position,
                radius: miles * 3000000
            });

            var infoBubble = new google.maps.InfoWindow({
                content: infoText,
                backgroundColor: 'rgb(57,57,57)',
                position: position,
                zIndex: 900
                //maxWidth: 200
            });

            google.maps.event.addListener(bubble, "mouseover", function() {
                if (currentPopup != null) {
                    currentPopup.close();
                    currentPopup = null;
                }
                infoBubble.open(map, bubble);
                currentPopup = infoBubble;
                //console.log("Event fired");
            });

            google.maps.event.addListener(bubble, "mouseout", function () {
                infoBubble.close();
            });

        }

        // Callback that creates and populates a data table, instantiates
        // the pie chart, passes in the data and draws it.
        function drawChart() {
            var key;
            var destinationMiles = new google.visualization.DataTable();
            destinationMiles.addColumn('string', 'GeoArea');
            destinationMiles.addColumn('number', 'Distance');
            for (key in destinationMilesDict) {
                destinationMiles.addRow([key, Math.round(destinationMilesDict[key])]);
            }

            var annualMiles = new google.visualization.DataTable();
            annualMiles.addColumn('string', 'Year');
            annualMiles.addColumn('number', 'Distance');
            annualMiles.addColumn('number', 'Days');
            for (key in annualMilesDict) {
                annualMiles.addRow([key, Math.round(annualMilesDict[key]), annualDaysDict[key]]);
            }

            var skipperMiles = new google.visualization.DataTable();
            skipperMiles.addColumn('string', 'Skipper');
            skipperMiles.addColumn('number', 'Distance');
            for (key in skipperMilesDict) {
                skipper = key.split(" ");
                skipper = skipper[0]+" "+skipper[1][0]+".";
                skipperMiles.addRow([skipper, Math.round(skipperMilesDict[key])]);
            }
            skipperMiles.sort({column: 1, desc: true});

            var mapData = new google.visualization.DataTable();
            mapData.addColumn('number', 'Lat');
            mapData.addColumn('number', 'Long');
            mapData.addColumn('string', 'Name');

            var chart = new google.visualization.PieChart(document.getElementById('destinationPieChart'));
            chart.draw(destinationMiles, optionsPie);

            chart = new google.visualization.BarChart(document.getElementById('skipperPieChart'));
            chart.draw(skipperMiles, optionsBar);

            chart = new google.visualization.ColumnChart(document.getElementById('annualMilesColumn'));
            chart.draw(annualMiles, optionsCol);
        }

        // Load the Visualization API and the corechart package.
        google.charts.load("current", {
            "packages": ["corechart"],
            "mapsApiKey": "AIzaSyDzCAa-hibdRJ-NdOnIRK-IG5uN2U3kv9c"
        });

        $(document).ready(function(){
            var containerHeight, text;

            $("#searchboxDiv").html("<button id='crewTableButton' class='btn btn-secondary' type='button'>Crew View</button>");  // delete the searchbox
            
            // Set a Chart callback to run when the Google Visualization API is loaded.
            google.charts.setOnLoadCallback(drawChart);

            text = "Stats on " + numberWithCommas(sum_miles, 0) + " nm";
            $("#subheadline").html(text + " and "+numToerns+" trips<br />");

            document.body.classList.add('vh-100');

            var containerHeight = document.body.clientHeight;
            containerHeight -= document.getElementById("title_container").clientHeight;
            containerHeight -= document.getElementById("footer").clientHeight;
            document.getElementById("main").style.minHeight = (containerHeight) + "px";
            elementHeight = (containerHeight-25) / 2;
            optionsPie.height = elementHeight;
            optionsCol.height = elementHeight;
            optionsBar.height = elementHeight;
            //console.log(elementHeight);
            if (isMobile) {
                optionsCol.width = $("#content_container").outerWidth();
                optionsCol.titleTextStyle.fontSize = 16;
                optionsPie.titleTextStyle.fontSize = 16;
                optionsBar.titleTextStyle.fontSize = 16;
            } else {
                optionsCol.width = $("#content_container").outerWidth() / 2.0;
            }
            $("#content_row").width($("#content_container").outerWidth());
            $("#bubbleMap").height(elementHeight);

            $("#crewTableButton").click(function() {
                $("#modalCrewTable").modal("show");
            });
        });

    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzCAa-hibdRJ-NdOnIRK-IG5uN2U3kv9c&loading=async&callback=initMap">
    </script>
{% endblock %}

