<!------------------------------------------------------------------
	gallery.html
    
	in pythonanywhere Bash console:
    git pull git@github.com:volkerpetersen/DjangoWebsites.git

	exceute on localhost using:
	python manage.py runserver
-------------------------------------------------------------------->

{% extends "toerns/header.html" %}
{% block title %}Trip Gallery{% endblock %}

{% load static %}
{% load humanize %}
{% load custom_filter %}
{% block content %}
    <div id="trip_gallery" class="container">
        <div id="portfolio" class="col-xs-12">
            <div id="tripItems" class="portfolio-items">
            {% for trip in trips %}
                <!-- the function multi_replace() for the yacht variable is  
                	 defined in toerns/templatetags/custom_filer.py
                -->
                {% with
                    destination=trip.georegion|add:"<br /><a href='plotRoute/"|add:trip.maptable|add:"'>"|add:trip.destination|add:"</a>"
                    yacht=trip.boat|multi_replace:"linefeed,<br>,openLink,<a,closeLink,</a>,pdf/,../static/pdf/,&#34;,'"
                %}
                <div class="portfolio-item {{ trip.georegion|replace:" ,_" }} col-xs-12 col-sm-4 col-md-3" data-value="{{ trip.miles }}">
                    <div class="trip-details-wrap">
                        <img class="img-responsive" id="tripImage" src="../static/{{ trip.image }}" alt="{{ trip.destination }}" onerror="imgErrorTripPicture(this)" />
                        <div class="text-center trip-name">
                            {{ trip.startDate|date:"F" }}&nbsp;{{ trip.startDate|date:"Y" }}<br />{{ trip.destination }}
                        </div>
                        <div class="overlay">
                            <div class="trip-details-inner">
                                <h4>
                                    <a href="../plotRoute/{{ trip.maptable }}" target="_blank">{{ trip.destination }}</a>
                                </h4>
                                <p>{{ trip.miles|floatformat:1|intcomma }} nm in {{ trip.daysAtSea }} days on
                                    {{ yacht|safe }}<br />
                                    With 
                                    {% for crew in trip.crew.all|dictsort:"lastName" %}
                                        {{ crew.firstName }}&nbsp;{{ crew.lastName }},
                                    {% endfor %}
                                    {% for skipper in trip.skipper.all %}
                                        and skipper {{ skipper.firstName }}&nbsp;{{ skipper.lastName }}.
                                    {% endfor %}
                                    <br />
                                    {% if trip.picturelink %}
                                        <a href='{{ trip.picturelink }}' target='_blank'>Picture Gallery</a>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="d-block d-sm-none">
                                <hr class="col-xs-12 portfolio-border" />
                            </div>
                        </div>
                    </div>
                </div>
                {% endwith %}
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-block d-sm-none"></div>
    </div>

    <script type="text/javascript">
    let portfolio;

    /*-----------------------------------------------------------------------------------------
    Function to to update the subheader line
    -----------------------------------------------------------------------------------------*/    
    function set_subheadline(selector, miles, trips) {
        var geoText;

        if (selector == "*") {
            // display text for ALL (*) trips
            geoText = "";
        } else {
            // display text for trips from a selected Geo Region (sorted ascending)
            geoText = selector.replace(".", "");
            geoText = geoText.replace("_", " ") + " - ";
        }
        heading = geoText + trips  + " trips and "+numberWithCommas(miles, 0)+" nm";
        jQuery('#subheadline').html(heading);
    }

    /*-----------------------------------------------------------------------------------------
    Function to update the trip gallery and enable portfolio function
    -----------------------------------------------------------------------------------------*/    
    function update_trip_gallery() {
        var html;
                
        //-----------------------------------------------------------------------------------------
        // portfolio filter for the Trip Gallery
        //-----------------------------------------------------------------------------------------
        $(function(){'use strict';
            var portfolio_selectors = $('.portfolio-filter >li>a');
            var portfolio_selectors_active = $('.portfolio-filter >li>a.active');
            var portfolio_dates = $('.trip-name');
            
            portfolio = $('.portfolio-items');
            portfolio.isotope({
                itemSelector : '.portfolio-item',
                layoutMode : 'fitRows'
            });

            portfolio_selectors.on('click', function(){
                portfolio_selectors.removeClass('active');
                $(this).addClass('active');
                var selector = $(this).attr('data-filter');

                portfolio.isotope({filter: selector, sortBy: portfolio_dates, sortAscending: true });

                var trips = portfolio.isotope('getFilteredItemElements');
                var selectedTrips = trips.length;
                var selectedMiles = 0;
                trips.forEach(function($item) {
                    selectedMiles += parseFloat($item.attributes.getNamedItem('data-value').value);
                });
                //console.log("selected "+selectedTrips+" trips with "+selectedMiles+"nm."); 

                set_subheadline(selector, selectedMiles, selectedTrips);
  
                return false;
            });

            $(function() {  // on window load function
                //console.log("on load");
                portfolio.isotope({ filter: portfolio_selectors_active.attr('data-filter'), sortBy: portfolio_dates, sortAscending: true});
            });
        });

        html = '<div class="col-xs-12">';
        html+= '<ul class="portfolio-filter">';
        html+= '<li><a id="AllTrips" class="btn btn-sm active" href="#" data-filter="*">All Trips</a></li>';
        html+= '<li><a class="btn btn-sm" href="#" data-filter=".Atlantic">Atlantic</a></li>';
        html+= '<li><a class="btn btn-md" href="#" data-filter=".Caribbean">Caribbean</a></li>';
        html+= '<li><a class="btn btn-md" href="#" data-filter=".Great_Lakes">Great Lakes</a></li>';
        html+= '<li><a class="btn btn-md" href="#" data-filter=".Pacific">Pacific</a></li>';
        html+= '</ul>';
        html+= '</div>';
        $("#nav_addon").html(html);
        set_subheadline("*", sum_miles, sum_trips);

    } // end of function update_trip_gallery()


    jQuery(document).ready(function() {
        $("#searchboxDiv").html("");        // delete the Menu searchbox
        update_trip_gallery();

        $("img").on('load', function() {
            //console.log(selector);
            $("#AllTrips")[0].click();
        });    

    });

    </script>
{% endblock %}

