<!------------------------------------------------------------------
	index.html
	Homepage with the Toern Directory

	in pythonanywhere Bash console:
    git pull git@github.com:volkerpetersen/DjangoWebsites.git

	exceute on localhost using:
	python manage.py runserver
-------------------------------------------------------------------->

{% extends "toerns/header.html" %}
{% block title %}Trip Directory{% endblock %}

{% load static %}
{% load humanize %}
{% load custom_filter %}
{% block content %}
    <!-- Start of main page body content-->
    <div class="container">
		<div id="mobileSearchbox" class="d-flex justify-content-end"></div>
		<div class="row">
			<div id="trip_table" class="col-12 table-responsive">
			<table id="toern_table" class="table table-hover borderless searchless no-footer display wrap" cellspacing="0">
			{% if is_mobile %}
				<thead>
					<tr class="d-none">
						<th></th>
					</tr>
				</thead>
			{% else %}
				<thead>
					<tr class="d-none">
						<th>picture</th>
						<th>date</th>
						<th>destination</th>
						<th>crew</th>
						<th>miles</th>
						<th>numMiles</th>
						<th>numDate</th>
					</tr>
				</thead>
			{% endif %}
			<tbody class="bodytext">

			{% for trip in trips %}
				<!-- the function multi_replace for the yacht variable is  
				     defined in toerns/templatetags/custom_filer.py
				-->
				{% with 
					destination=trip.georegion|add:"<br /><a href='plotRoute/"|add:trip.maptable|add:"'>"|add:trip.destination|add:"</a>"
					yacht=trip.boat|multi_replace:"linefeed,<br>,openLink,<a,closeLink,</a>,pdf/,../static/pdf/,&#34;,'"
					img_caption=trip.destination
					img_error=" onerror='imgErrorTripPicture(this)' />"
				%}
				{% if is_mobile %}
				<tr class="bodytext">
					<td class="container responsive">
						<div class="row row-padding">
							<div class="col-12 no-padding">
								{% if trip.picturelink %}
									{% with
										picture1="<a href='"|add:trip.picturelink|add:"' target='_blank'><img class='img-fluid'"
										picture2=" border='0px' src='static/"|add:trip.image|add:"' title='Click here for all trip images!' alt='"|add:img_caption|add:"'"|add:img_error|add:"</a>"
									%}
									{{ picture1|safe }}{{ picture2|safe }}
									{% endwith %}
								{% else %}
									{% with 
										picture1="<img class='img-fluid'"
										picture2=" border='0px' src='static/"|add:trip.image|add:"' title='Click here for all trip images!' alt='"|add:img_caption|add:"'"|add:img_error
									%}
									{{ picture1|safe }}{{ picture2|safe }}
									{% endwith %}
								{% endif %}
							</div>
						</div>
				
						<div class="row row-padding">
							<div class="col-2 no-padding">When:</div>
							<div class="col-10 no-padding">
								{{ trip.startDate|date:"F" }}&nbsp;{{ trip.startDate|date:"Y" }}
							</div>
						</div>
				
						<div class="row row-padding">
							<div class="col-2 no-padding">Where:</div>
							<div class="col-10 no-padding">
								{{ destination|safe }}<br />{{ yacht|safe }}
							</div>
						</div>
				
						<div class="row row-padding">
							<div class="col-2 no-padding">Who:</div>
							<div class="col-10 no-padding">
								{% for crew in trip.crew.all|dictsort:"lastName" %}
									{{ crew.firstName }}&nbsp;{{ crew.lastName }},
								{% endfor %}
								{% for skipper in trip.skipper.all %}
									and skipper {{ skipper.firstName }}&nbsp;{{ skipper.lastName }}
								{% endfor %}
							</div>
						</div>
				
						<div class="row row-padding">
							<div class="col-2 no-padding">Miles:</div>
							<div id="miles" class="col-10 no-padding">
								{{ trip.miles|floatformat:1|intcomma }} nm
							</div>
						</div>
						<div class="row row-padding">
							<div class="col-12 no-padding hr-rule"></div>
						</div>
					</td>
				</tr>
				{% else %}
				<tr class="bodytext">
					<td class="text-center col-3 align-middle">
						{% if trip.picturelink %}
							{% with
								picture1="<a href='"|add:trip.picturelink|add:"' target='_blank'><img class='img-fluid enlarge'"
								picture2=" border='0px' src='static/"|add:trip.image|add:"' title='Click here for all trip images!' alt='"|add:img_caption|add:"'"|add:img_error|add:"</a>"
							%}
							{{ picture1|safe }}{{ picture2|safe }}
							{% endwith %}
						{% else %}
							{% with
								picture1="<img class='img-fluid enlarge'"
								picture2=" border='0px' src='static/"|add:trip.image|add:"' title='No picture album available' alt='"|add:img_caption|add:"'"|add:img_error
							%}
							{{ picture1|safe }}{{ picture2|safe }}
							{% endwith %}
						{% endif %}
					</td>
				
					<td class="text-center col-2 align-middle">
						{{ trip.startDate|date:"F" }}<br>{{ trip.startDate|date:"Y" }}
					</td>
					
					<td class="text-center col-3 align-middle">
						{{ destination|safe }}<br />{{ yacht|safe }}
					</td>
					
					<td class="text-center col-3 align-middle">
						{% for crew in trip.crew.all|dictsort:"lastName" %}
							{{ crew.firstName }}&nbsp;{{ crew.lastName }},
						{% endfor %}
						{% for skipper in trip.skipper.all %}
							and skipper {{ skipper.firstName }}&nbsp;{{ skipper.lastName }}
						{% endfor %}							
					</td>
					
					<td class="text-center col-1 align-middle" id="miles">
						{{ trip.miles|floatformat:1|intcomma }} nm
					</td>
					<td class="d-none">{{ trip.miles }}</td>
					<td class="d-none">{{ trip.startDate|date:"Y" }}_{{ trip.startDate|date:"m" }}</td>
				</tr>
				{% endif %}
			{% endwith %}
			{% endfor %}
			</tbody>
			</table>
			</div>
		</div>
    </div>

<script type='text/javascript'>

	/*-----------------------------------------------------------------------------------------
	Function to select the trips from this directory based on the user
	user in the search box
	-----------------------------------------------------------------------------------------*/
	function select_trips_from_searchbox(e, search_field) {
		var ctr_trips = 0;
		var miles = "";
		var sub_header = "";
		var search_str = jQuery(search_field).val();

		sum_miles = 0;
		data_table.search(search_str);
		data_table.draw();

		$("#toern_table tbody tr").each(function () {
			miles = $(this).find("#miles").text().replace(/\,/g, "");
			if (miles) {
				ctr_trips += 1;
			}
			sum_miles += parseFloat(miles.replace(/\ nm/g, ""));
		});

		if (ctr_trips == numToerns) {
			sub_header = numberWithCommas(sum_miles, 0) + "nm, " + ctr_trips + " fun sailing trips, and still counting...";
		} else {
			if (ctr_trips == 0) {
				sub_header = "No trips found matching your selection ('" + search_str + "')!";
			} else {
				sub_header = ctr_trips + " out of " + numToerns + " selected with a total of " + numberWithCommas(sum_miles, 1) + " nm";
			}
		}
		jQuery("#subheadline").html(sub_header);
	}

	jQuery(document).ready(function () {
		var html;

		subheadline = "";
		if (sum_trips == 0 && numToerns > -1) {
			subheadline = "No sailing trips found that match the selection criteria. Try again please.";
		}
		if (sum_trips >= 1) {
			subheadline = sum_trips + " out of " + numToerns + " trips selected with a total of " + number_format(sum_miles, 0) + "nm sailed.";
		}
		if (sum_trips == numToerns) {
			subheadline = number_format(sum_miles, 0) + " nm, " + numToerns + " fun sailing trips, and still counting....";
		}

		jQuery("#subheadline").html(subheadline);

		enhance_toern_table_code(isMobile); // enhance the html code

		if (!isMobile) {
			html = '<div id="table_header" class="container col-hdr-container Sd-none d-sm-block">';
			html += '<div class="row col-hdr">';
			html += '<div class="col-3" style="padding-top: 3px !important;">';
			html += 'Picture Galleries</div><div class="col-2">Date&nbsp;';
			html += '<i id="sort_date" class="fas fa-sort-amount-down"></i>';
			html += '</div><div class="col-3">Location&nbsp;</div>';
			html += '<div class="col-2" style="padding-top: 3px !important;">Crew</div>';
			html += '<div class="col-2 text-end">Miles&nbsp;';
			html += '<i id="sort_miles" class="fas fa-sort-amount-down"></i>';
			html += '</div></div></div>';
			$("#nav_addon").html(html);
		}

		jQuery("#FancyLink").fancybox({
			iframe: {
				css: {
					"width": "100%",
					"height": "100%",
				}
			}
		});

		jQuery('#sort_date').click(function () {
			//console.log("sort date");
			var glyphicon_asc = "fas fa-sort-amount-up";
			var glyphicon_desc = "fas fa-sort-amount-down";
			var sort_order = swapClassElement("#sort_date", glyphicon_asc, glyphicon_desc);
			data_table.column("6:visible").order(sort_order);
			data_table.draw();
		});

		jQuery("#sort_miles").click(function () {
			var glyphicon_asc = "fas fa-sort-amount-up";
			var glyphicon_desc = "fas fa-sort-amount-down";
			var sort_order = swapClassElement('#sort_miles', glyphicon_asc, glyphicon_desc);
			data_table.column('5:visible').order(sort_order);
			data_table.draw();
		});
	});
</script>
{% endblock %}
