<!------------------------------------------------------------------
	updateTrip.html
	Page to update the route data from either a GPX or SQL file

	in pythonanywhere Bash console:
    git pull git@github.com:volkerpetersen/DjangoWebsites.git

	exceute on localhost using:
	python manage.py runserver
  -------------------------------------------------------------------->

{% extends "toerns/header.html" %}
{% block title %}Update Trip{% endblock %}

{% load static %}

{% block content %}
  <!-- Start of updateTrip.html body content-->
  <div class="container">
    <div class="row pt-2">
      <div class="col-12">
        <p class="form-label">Please make sure that the trip for which you want to upload
          content (route data, image, or PDF) has already been entered into the the 'Toerndirectory'
          table.
          <br><br>
          This form allows you to upload a trip image, a pdf file (that can be accessed using a link in the destination
          field), or the waypoint data from a file in either an GPX or SQL file format.
        </p>
      </div>
    </div>
    <div class="row pt-2">
      <form id="updateTripDataForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <label for="startDate" class="col-12 col-md-3 form-label">Select a trip from this list:</label>
          <div class="col-12 col-md-7">
            <select class="form-select" id="routeSelect" name="routeSelect">
              {% for trip in trips %}
              {% autoescape off %}
              <option value="{{trip.startDate}}">{{trip.startDate}} - {{trip.destination}}</option>
              {% endautoescape %}
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row pt-1">
          <label for="inputFormat" class="col-12 col-md-3 form-label">Select input format:<br />(only for route
            data)</label>
          <div class="col-12 col-md-5">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="routeFormat" id="gpx" value="gpx" checked>
              <label class="form-check-label" for="gpx">GPX route file</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="routeFormat" id="sql" value="sql">
              <label class="form-check-label" for="sql">SQL route file</label>
            </div>
          </div>
        </div>
        <div class="row pt-1">
          <label for="routeUpload" class="col-12 col-md-3 form-label">Select route file:</label>
          <div class="col-12 col-md-8">
            <input type="file" name="routeUpload" id="routeUpload" onchange="waypoint_check()" accept=".gpx, .sql" />
          </div>
        </div>
        <div class="row pt-1">
          <label for="imageUpload" class="col-12 col-md-3 form-label">Select image file:</label>
          <div class="col-12 col-md-8">
            <input type="file" name="imageUpload" id="imageUpload" onchange="image_check()"
              accept=".jpg, .jpeg, .png, .webp,. tiff" />
          </div>
        </div>
        <div class="row pt-1">
          <label for="pdfUpload" class="col-12 col-md-3 form-label">Select PDF file:</label>
          <div class="col-12 col-md-8">
            <input type="file" name="pdfUpload" id="pdfUpload" onchange="pdf_check()" accept=".pdf" />
          </div>
        </div>
        <div class="row pt-2">
          <button type="submit" class="col-5 col-md-3 btn btn-success" id="updateTripSubmit">Update Trip</button>
          <p class="col-7 col-md-9">
            <span class="error" id="invalidFileFormat"></span><br>
            <span class="error" id="invalidImageFormat"></span>
          </p>
        </div>
        <div class="row pt-5">
          <div class="col-12">&nbsp;</div>
        </div>
      </form>
    </div>
  </div>
  
  <!--
  =============================================================================================================
  	Modal Form Feedback msg
  =============================================================================================================
  -->
  <div class="modal fade in" id="modalFormFeedback" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div id="modalFormFeedbackHeader"><!-- Header msg spaceholder --></div>
          <button type="button" class="btn-close" id="modalFormClose" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div id="modalFormFeedbackBody"><!-- Body msg spaceholder --></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div><!-- /Modal Form Feedback msg-->
  
  
  <script type='text/javascript'>
    let waypointFile = false;
    let imageFile = false;

    function resetPageHeight(element) {
      document.body.classList.add('vh-100');
      var height = document.body.clientHeight;
      height -= document.getElementById("title_container").clientHeight;
      height -= document.getElementById("footer").clientHeight;
      element.style.minHeight = (height) + "px";
    };

    function waypoint_check() {
      var upl = document.getElementById("routeUpload");
      var routeType = upl.files[0].name.split(".");
      var extension = routeType.pop();
      var routeSelection = document.querySelector("input[name='routeFormat']:checked").value;

      if (extension.toLowerCase() != routeSelection.toLowerCase()) {
        $("#invalidFileFormat").html("File format and input format selection don't match. Please select a matching route file.");
        waypointFile = false;
      }
      else {
        $("#invalidFileFormat").html("");
        waypointFile = true
      }

      if (waypointFile || imageFile || pdfFile) {
        $('#updateTripSubmit').prop('disabled', false);
      }
      //console.log("Waypoint check: (waypointFile || imageFile)=" + (waypointFile || imageFile) + " image="imageFile + " waypoints=" + waypointFile);
    };

    function image_check() {
      var upl = document.getElementById("imageUpload");
      var image = upl.files[0]

      if (image && image.type.includes('image')) {
        $("#invalidImageFormat").html("");
        imageFile = true;
      }
      else {
        $("#invalidImageFormat").html("Invalid image file format selected. Please select an image file.");
        imageFile = false;
      }

      if (waypointFile || imageFile || pdfFile) {
        $('#updateTripSubmit').prop('disabled', false);
      }
      //console.log("Image check: (waypointFile || imageFile)="+ (waypointFile || imageFile)+" image="imageFile+" waypoints="+ waypointFile);
    };

    function pdf_check() {
      var upl = document.getElementById("pdfUpload");
      var pdf = upl.files[0]
      var routeType = upl.files[0].name.split(".");
      var extension = routeType.pop();

      if (extension.toLowerCase() != 'pdf') {
        $("#invalidPDFFormat").html("Invalid PDF file format selected. Please select a PDF file.");
        pdfFile = false;
      }
      else {
        $("#invalidFileFormat").html("");
        pdfFile = true
      }

      if (waypointFile || imageFile || pdfFile) {
        $('#updateTripSubmit').prop('disabled', false);
      }
      //console.log("Image check: (waypointFile || imageFile)="+ (waypointFile || imageFile)+" image="imageFile+" waypoints="+ waypointFile);
    };

    jQuery(document).ready(function () {
      $('#updateTripSubmit').prop('disabled', true);
      $("#searchbox").remove();
      $("#headline").html("Update Trip Data")
      resetPageHeight(document.getElementById("main"))
    });

    $("#updateTripDataForm").on('submit', function (e) {
      e.preventDefault();
      var formData = new FormData(this);
      if (waypointFile) {
        formData.append('route', true);
      } else {
        formData.append('route', false);
      }
      if (imageFile) {
        formData.append('image', true);
      } else {
        formData.append('image', false);
      }
      if (pdfFile) {
        formData.append('pdf', true);
      } else {
        formData.append('pdf', false);
      }
      $.ajax({
        type: "POST",
        url: '{% url "updateTripData" %}',
        data: formData,
        processData: false, // prevent jQuery from transforming the data into query string
        contentType: false, // let jQuery set the type correctly
        success: function (response) {
          hdr = "<h5>Trip Data Update</h5>";
          //alert("Return values: "+JSON.stringify(response, null, 2));
          if (response.successRoute || response.successImage) {
            msg = "<h5>" + response.msg + "<br>Thanks for your kind assistance.</h5>";
          } else {
            msg = "<h5>" + response.msg + "<br>ERROR: Please contact Volker Petersen for assistance.</h5>";
          }
          $("#modalFormFeedback").modal("show");
          $("#modalFormFeedbackHeader").html(hdr);
          $("#modalFormFeedbackBody").html(msg);
        },
        error: function (jqXHR, textStatus, errorThrown) {
          hdr = "<h5>Trip Data Update</h5>";
          msg = "<h5>";
          if (jqXHR.responseJSON && jqXHR.responseJSON.error) {
            msg += jqXHR.responseJSON.error;
          } else if (jqXHR.status === 0) {
            msg += "Could not connect to the server.";
          } else if (jqXHR.status) {
            msg += "Server error: " + jqXHR.status;
          } else if (errorThrown) {
            msg += errorThrown;
          } else {
            msg += textStatus;
          }
          msg += "<br>ERROR: Please contact Volker Petersen for assistance.</h5>";
          $("#modalFormFeedback").modal("show");
          $("#modalFormFeedbackHeader").html(hdr);
          $("#modalFormFeedbackBody").html(msg);
        }
      });
    });

  </script>
  <!-- end of safety.html body content container -->
  {% endblock %}